@model IEnumerable<Project_Nhom__.Models.Hoa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3 style="text-align:center; color:red">Nhà cung cấp hoa</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-sm-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details","Store", new {id=item.Mahoa})">
                    <img alt="@item.Tenloaihoa" src="~/images_flo/@item.AnhBia" width="400" />
                    <span></span>

                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @item.Tenloaihoa
                        </h4>
                        <p></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">50 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
            </div>

        </div>
    }
</div>
