@model IEnumerable<Project_Nhom__.Models.Nhacungcap>
<p class="lead">Nhà cung cấp</p>
<div class="list-group">
    @foreach(var item in Model) 
    {
        <a href="@Url.Action("Hoatheoncc","Store", new {id = item.MaNCC})" class="list-group-item">
            @item.TenNCC
        </a>
    }
</div>
