<a href="@Url.Action("Giohang","Giohang")" style="color:white; font-weight:bold; text-decoration:none;">
    <img style="height:30px" src="~/images_flo/giohang.gif"/>Giỏ hàng(@ViewBag.Tongsoluong)
</a>
